.tabNavList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  @media (max-width: 1024px) {
    flex-direction: column;
  }

  li {
    &:hover {
      a {
        color: #ffffff;
        border-color: #ffffff;
      }
    }

    a {
      display: inline-block;
      color: #6FF5FE;
      font-size: 16px;
      border-bottom: 1px dotted #6FF5FE;
      font-weight: 600;
    }
  }

  .activeLink {
    color: #ffffff;
    border: none;
    pointer-events: none;
  }
}


.subtabList {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 23px;
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
  }

  li {
    a {
      text-decoration-style: dotted;
      font-size: 18px;
      font-weight: 600;
      color: #113770;
      text-decoration: underline;
    }

    .activeLink {
      font-weight: 700;
      color: #000000;
      pointer-events: none;
      text-decoration: none;
    }
  }
}
