
.galleryDropzone {
  ul {
    background: #f4f7fa;
    border: 1px dashed #98a5a3;
    border-radius: 5px;
    padding: 20px 24px 20px 24px;
    margin-bottom: 23px;
  }
}

.galleryArea {
  display: none;
}