.adminPersonal {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-left: auto;
  cursor: pointer;

  a {
    svg {
      transition: all .3s;
    }

    &:hover {
      svg {
        opacity: 1;
      }
    }
  }
}



._unread {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: 9px;
    height: 9px;
    background-color: #FF0000;
    right: 0;
    top: 0;
    border-radius: 50%;
    z-index: 10;
  }
}