@import "src/assets/styles/vars";

.selectWrapper {
  label {
    font-size: 14px;
    font-weight: 600;
    display: block;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 5px;
  }

  :global {
    .react-dropdown-select {
      border: 1px solid #C2CAC9;
      border-radius: 3px;
      padding: 2px 10px;
      min-height: 35px;
      @include opensans-regular;
      font-size: 14px;
    }

    .react-dropdown-select-dropdown-handle {
      background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0 6.25L5 2.34047e-05L10 6.25L0 6.25Z' fill='black'/%3e%3c/svg%3e") no-repeat;
      width: 10px;
      height: 6.25px;
      margin: 0;

      svg {
        display: none;
      }
    }
  }
}
.warningMessage {
  color: #F00000;
  font-size: 14px;
  line-height: 1;
  padding-top: 5px;
}
