.customTable {
  display: grid;
  min-width: 100%;
  width: auto;

  border: none;
  border-collapse: collapse;
  overflow-x: auto;

  thead,
  tbody,
  tr {
    display: contents;
  }

  thead {
    th {
      border-bottom: 1px solid #F5F5F5;
    }
  }

  tr:not(:last-child) {
    td {
      border-bottom: 1px solid #F5F5F5;
    }
  }

  tr {
    padding-left: 40px;
  }


  th {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    display: flex;
    flex-grow: 1;
    background: #F5F7FA;
    align-items: center;
    min-height: 47px;
    padding: 0 5px;
    &:first-child {
      padding-left: 40px;
    }
  }

  td {
    display: flex;
    align-items: center;
    text-align: left;
    min-height: 47px;
    font-size: 14px;
    padding: 0 5px;
    line-height: 1.2;
    &:first-child {
      padding-left: 40px;
    }

    a {
      margin: 0;
    }
  }

  a {
    color: #015DB9;
    font-size: 14px;
    font-weight: 400;
  }
}