@import "src/assets/styles/vars";

.adminNavigation {
  width: 220px;
  min-width: 220px;

  a {
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    @include opensans-semi;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 17px;

    &:hover {
      svg {
        opacity: 1;
      }
    }
  }

  .adminNavigationList {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }
}

.activeLink {
  svg {
    opacity: 1;
    path {
      fill: #FFFFFF;
    }
  }
}


