
.locAlertsList {
  margin-bottom: 20px;
  li {
    margin-bottom: 20px;
    padding: 9px 14px;
    background-color: #fff;
    border: 1px solid #DDDEE3;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(159, 159, 159, 0.25);
    display: flex;
    align-items: center;
    gap: 5px;
    @media (max-width: 550px) {
      flex-direction: column;
    }
    span {
      color: #FF0000;
      font-weight: 600;
    }
    button {
      margin-left: auto;
      min-width: 16px;
      opacity: 0.5;
      @media (max-width: 550px) {
        margin-left: 0;
      }
    }
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}



div.locationPrompt {
  padding-bottom: 15px;
  margin-bottom: 20px;
  border-bottom: 1px solid #E3DDDD;
}

