.newAreaSection {
  h4 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
  }
}


.newAreaSwitcher {
  pointer-events: none;
  label {
    display: none;
  }

}

.newAreaSwitcherText {
  color: #000000;
  font-weight: 400;
  pointer-events: none;

  b {
    color: #113770;
    font-weight: 600;
    text-decoration: underline;
    text-decoration-style: dotted;
    pointer-events: auto;
    svg {

    }
  }
}

.newAreaPrompt {
  margin-bottom: 20px;
}